form {
    justify-content: center;
    display: grid;
    color: white;
    width: 60%;
    margin-left: 20%;

    label{
    margin-left: 1rem;
    color:white ;
    font-weight: bolder;
    display:grid;
    padding-bottom: 5px;
    
    }

    input {
        padding: 12px 30px;

    }

    button {
        margin-top: 1rem;
        padding: 10px;
        cursor: pointer;

    }

    
}