$form-color: white;
$form-font: 'Roboto, sans-serif';
$form-padding: 12px 30px;
$form-button-padding: 10px;
$form-button-margin: 1rem;

form {
  justify-content: center;
  display: grid;
  color: $form-color;
  width: 60%;
  margin-left: 20%;

  label {
    margin-left: 1rem;
    color: $form-color;
    font-weight: bolder;
    display: grid;
    padding-bottom: 5px;
    font-family: $form-font;
  }

  input {
    padding: $form-padding;
    font-family: $form-font;
  }

  button {
    margin-top: $form-button-margin;
    padding: $form-button-padding;
    cursor: pointer;
    font-family: $form-font;
    background-color: #27ae60;
    color: $form-color;
    border: 1px solid #27ae60;
    border-radius: 10px;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
      background-color: $form-color;
      color: green;
      border: 1px solid $form-color;
    }
  }

  @media only screen and (max-width: 600px) {
    width: 90%;
    margin-left: 5%;
  }
}
