table {
    color: #333;
    background-color: #fff;
    border-color: #333;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    overflow: auto;
    width: 100%;
  }
  
  table thead th {
    color: #ccc;
    background-color: #333;
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px 10px;
    vertical-align: bottom;
  }
  
  table thead th:first-child {
    border-top-left-radius: 5px;
  }
  
  table thead th:last-child {
    border-top-right-radius: 5px;
  }
  
  table tbody td {
    border-top: 1px solid gray;
    padding: 5px 10px;
    vertical-align: top;
  }
  
  table tbody tr:nth-child(2n) {
    background-color: #fff;
  }
  
  @media only screen and (max-width: 600px) {
    input[type="text"],
    button[type="submit"] {
      font-size: 16px;
    }
  }
  