$table-border-color: #333;
$table-bg-color: #fff;
$table-header-bg-color: #333;
$table-header-color: #ccc;
$table-body-border-color: gray;
$table-body-bg-color: #fff;
$button-primary-color: #27ae60;
$button-primary-color-hover: #2ecc71;
$primary-color: #007bff;
$secondary-color: #6c757d;
$base-font-size: 16px;
$base-spacing: 10px;

table {
  padding: 20px;
  margin: 20px;
  animation: fadeIn 1s;
  color: $table-border-color;
  background-color: $table-bg-color;
  border-color: $table-border-color;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  display: table;
  overflow: auto;
  width: 100%;
  max-height: 25%;
  overflow: auto;

  thead th {
    color: $table-header-color;
    background-color: $table-header-bg-color;
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px 10px;
    vertical-align: bottom;
    &:first-child {
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
    }
  }

  tbody td {
    border-top: 1px solid $table-body-border-color;
    padding: 5px 10px;
    vertical-align: top;
    text-align: center;
    &:nth-child(2n) {
      background-color: $table-body-bg-color;
    }
  }
}

button {
  transition: all 0.3s ease;
  border: 1px solid $table-border-color;
  background-color: $button-primary-color;
  color: #fff;
  border-color: $button-primary-color;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  &:hover {
    transform: scale(1.1);
    background-color: $button-primary-color-hover;
    border-color: $button-primary-color-hover;
  }
}

input[type="date"] {
  background-image: url("https://cdn3.iconfinder.com/data/icons/calendar-and-time/100/Calendar_and_Time_12-512.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px;
  padding-right: 30px;
}

h1, h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.card-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: $base-spacing;
  justify-content: center;
  margin: 0 - $base-spacing;
}

.fuel-card {
  border: 1px solid #ccc;
  padding: $base-spacing;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  margin: $base-spacing;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }


  &__icon {
    font-size: 40px;
    margin-bottom: $base-spacing;
    color: $primary-color;
  }

  &__title {
    font-size: $base-font-size + 4px;
    font-weight: bold;
    color: $secondary-color;
    margin-bottom: $base-spacing;
  }

  &__value {
    font-size: $base-font-size + 2px;
    font-weight: bold;
  }


  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    margin: 10px 0
  }}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  input[type="text"],
  button[type="submit"] {
    font-size: 16px;
  }
}
